@font-face {
    font-family: klavika;
    src: url(../Fontes/klavika.otf), url(../Fontes/klavika-bold.otf);
}

body {
    font-family: klavika;
    font-weight: bold;
}

.container {
    padding: 0 2rem;
}

.botao {
    background-color: #dd1818;
    color: white;
    border: none;
    font-family: klavika;
    font-size: 16px;
    padding: 0.7rem 1rem;
}

.botao:hover {
    background-color: #ca1717;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
