.cabecalho-superior {
    align-items: center;
    background-color: var(--cor-de-fundo-escuro);
    display: flex;
    height: 65px;
    justify-content: space-between;
    padding: 0 2rem;
}

.cabecalho-superior__bloco {
    align-items: center;
    display: flex;
}

.cabecalho-inferior {
    align-items: center;
    background-color: var(--cor-de-fundo);
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0 3rem;
}

.cabecalho-inferior__contato {
    display: flex;
    align-items: center;
    text-align: center;
}

.cabecalho-inferior__atendimento {
    border-bottom: 2px solid var(--cor-borda);
    color: var(--cor-texto-claro);
    font-size: 20px;
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
}

.cabecalho-inferior__img {
    height: 70px;
}

.cabecalho-inferior__numero {
    color: var(--cor-texto-escuro);
    font-size: 28px;
    font-weight: lighter;
    text-decoration: none;
}

.cabecalho__logo {
    height: 50px;
}

.cabecalho__menu-lista {
    display: flex;
    white-space: nowrap;
}

.cabecalho__menu-item {
    color: var(--cor-texto-escuro);
    font-size: 20px;
    padding: 0 50px;
    text-decoration: none;
}

.cabecalho__menu-item:hover {
    color: var(--cor-texto-claro);
    transform: 0.5s ease-in-out;
}

.cabecalho__pesquisa {
    background-color: var(--cor-de-fundo-escuro);
    background-image: url(../Imagens/Cabecalho/Raster.png);
    background-position: 13px 6px;
    background-repeat: no-repeat;
    background-size: 20px;
    border: solid 2px var(--cor-de-fundo);
    border-radius: 7px;
    color: var(--cor-texto-escuro);
    font-family: klavika;
    font-size: 17px;
    font-weight: bold;
    height: 25px;
    outline-style: none;
    padding: 3px 35px;
    width: 200px;
}

.cabecalho__pesquisa:focus {
    background-color: var(--cor-de-fundo);
    transition: 0.5s ease-in-out;
}

.cabecalho__sociais-img {
    height: 40px;
    margin: 0 10px;
}

/* SUB MENU */

.cabecalho__menu-item:nth-child(1) {
    padding-left: 0;
}

.cabecalho__menu-item {
    position: relative;
}

#menudropdown:hover {
    cursor: pointer;
}

#menudropdown:hover .cabecalho__menu-sublista{
    display: block;
}

.cabecalho__menu-sublista {
    background-color: var(--cor-submenu);
    display: none;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
}

.cabecalho__menu-subitem {
    color: var(--cor-texto-escuro);
    display: block;
    padding: 0.3rem;
    text-decoration: none;
}

.cabecalho__menu-subitem:hover {
    color: var(--cor-texto-claro);
    transform: 0.5s ease-in-out;
}
