.empresas-introducao {
    padding-top: 1rem;
    text-align: center;
}

.empresas-introducao__titulo {
    color: var(--cor-texto-claro);
    font-size: 30px;
}

.empresas-introducao__bloco {
    align-items: center;
    display: flex;
    justify-content: center;
}

.empresas-introducao__logo {
    display: block;
    width: 180px;
}

.empresas-introducao__lista {
    border: 3px solid rgb(192, 12, 12);
    border-top: none;
    border-radius: 7px;
    margin-left: 0.45rem;
    max-width: 160px;
}

.empresas-introducao__img {
    width: 130px;
}

.empresas-introducao__item {
    margin-bottom: 0.5rem;
}

.empresas-introducao__mapa {
    width: 750px;
}

.informacoes__item-texto {
    color: var(--cor-texto-escuro);
    font-size: 20px;
    font-weight: lighter;
}

.empresas-informacoes {
    margin: 0 5rem;
}

.empresas-informacoes__item {
    margin: 2.5rem 0;
}

.empresas-informacoes__lista {
    text-align: center;
    width: 100%;
}

.informacoes__item-titulo {
    color: var(--cor-texto-claro);
    font-size: 25px;
}

.informacoes__item-img {
    height: 100px;
}

.informacoes__item-texto {
    text-align: justify;
}
