.localizacao {
    background-color: var(--cor-de-fundo-escuro);
    padding: 2rem 0;
}

.localizacao__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.localizacao__item {
    border-right: 2px solid var(--cor-borda);
    color: var(--cor-texto-claro);
    font-weight: lighter;
    height: 85px;
    margin: 1rem 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-transform: uppercase;
    width: 200px;
}

.localizacao__item:nth-child(10) {
    border: none;
}
