.localizacao {
    align-items: center;
    background-color: var(--cor-de-fundo-escuro);
    padding-top: 1rem;
}

.localizacao__lista {
    display: flex;
    flex-wrap: wrap;
}

.localizacao__item {
    border-right: 2px solid var(--cor-borda);
    color: var(--cor-texto-claro);
    margin-bottom: 1rem;
    width: 190px;
    min-width: 150px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.localizacao__item:nth-child(9) {
    border: none;
}
