.segmentos-main__imagem {
    display: block;
    width: 100%;
}

.segmentos-introducao {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem 10rem;
    background-color: var(--cor-de-fundo);
}

.segmentos-empresas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.segmentos-conteudo__icone {
    height: 80px;
}

.segmentos-conteudo__titulo {
    color: var(--cor-texto-claro);
    border-right: 2px solid var(--cor-borda);
    font-size: 20px;
    padding: 35px 15px;
}

.segmentos-conteudo__logo {
    max-width: 140px;
    max-height: 55px;
    padding-top: 1rem;
}

.segmentos-informacao {
    padding: 20px 2rem;
}

.segmentos-informacao__texto {
    color: var(--cor-texto-claro);
    border-bottom: 2px solid var(--cor-borda);
    font-size: 20px;
    font-weight: lighter;
    line-height: 2rem;
    padding: 1rem 9rem;
}

#segmentos-informacao__texto-agr {
   border: none;
}

.segmentos-informacao__bloco {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.segmentos-descricao__texto {
    font-weight: lighter;
    color: var(--cor-texto-escuro);
    font-size: 19px;
    margin-bottom: 1rem;
}

.segmentos-descricao {
    padding: 2.5rem 10rem;
}

.segmentos-descricao-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.segmentos-descricao-img {
    height: 60px;
}

@media screen and (min-width: 1441px) {
    .segmentos-descricao-img {
        height: 80px;
    } 
}
