.segmentos__imagem {
    display: block;
    width: 100%;
}

.segmentos__introducao {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem 8rem;
    background-color: var(--cor-de-fundo);
}

.segmentos__empresas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.segmentos__conteudo-icone {
    height: 80px;
}

.segmentos__conteudo-titulo {
    color: var(--cor-texto-claro);
    border-right: 2px solid var(--cor-borda);
    font-size: 20px;
    padding: 35px 30px 35px 15px;
    margin-right: 15px;
}

.segmentos__conteudo-logo {
    max-width: 140px;
    max-height: 55px;
    padding-top: 1rem;
}

.segmentos__informacao {
    padding: 20px auto;
}

.segmentos__informacao-texto {
    color: var(--cor-texto-claro);
    border-bottom: 2px solid var(--cor-borda);
    font-size: 20px;
    font-weight: lighter;
    line-height: 2rem;
    padding: 1rem 1rem;
}

.segmentos__informacao-bloco {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.segmentos__aplicacoes-bloco {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.segmentos__aplicacoes-titulo {
    color: var(--cor-texto-claro);
    font-size: 20px;
    margin: 0 1.5rem;
    padding-top: 0.5rem;
    white-space: nowrap;
}

.segmentos__aplicacoes-linha {
    border-top: 2px solid var(--cor-borda);
    margin-top: 1.05rem;
    width: 100%;
}

.segmentos__aplicacoes-imagem {
    margin: 1rem 0;
    width: 100%;
}
