.vantagens__bloco {
    border-bottom: 4px solid var(--cor-de-fundo-escuro);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 1.5rem;
    padding-bottom: 15px ;
}

.vantagens__bloco-texto {
    background-position: top 1.25rem left 2.5rem;
    background-repeat: no-repeat;
    background-size: 90px;
    box-sizing: border-box;
    color: var(--cor-texto-claro);
    height: 120px;
    margin: 0 1rem;  
    max-width: 200px;
    padding: 8rem 0 2rem 0rem;
    text-align: center;
}

.atendente {
    background-image: url(../Imagens/Main/Atendente.jpeg);
    padding-right: 2rem;
}

.caixa {
    background-image: url(../Imagens/Main/Caixa.jpeg);
    padding-right: 1.5rem;
}

.globo {
    background-image: url(../Imagens/Main/Globo.jpeg);
    padding-right: 1.5rem;
}

.caminhao {
    background-image: url(../Imagens/Main/Caminhao.jpeg);
    background-position: left 2rem;
    padding-right: 3rem;
    background-size: 130px;
    width: 300px;
}

.vantagens__botao {
    padding: 1.5rem 0;
    text-align: center;
}

.vantagens__botao-texto {
    color: var(--cor-texto-claro);
    font-size: 22px;
    margin-bottom: 20px;
}
