.vantagens {
    background-color: var(--cor-de-fundo);
    text-align: center;
}

.vantagens__bloco {
    text-align: center;
    border-top: 4px solid var(--cor-borda);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 1.5rem;
    margin-bottom: 20px;
    padding-bottom: 15px ;
}

.vantagens__bloco-texto {
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 200px;
    box-sizing: border-box;
    color: var(--cor-texto-claro);
    height: 120px;
    margin: 0 1rem;  
    max-width: 200px;
    padding: 9rem 0 2rem 0rem;
    text-align: center;
}

.atendente {
    background-image: url(../Imagens/Main/Vantagens/Atendente.png);
}

.caixa {
    background-image: url(../Imagens/Main/Vantagens/Caixa.png);
}

.globo {
    background-image: url(../Imagens/Main/Vantagens/Globo.png);
}

.caminhao {
    background-image: url(../Imagens/Main/Vantagens/Caminhao.png);
}

.vantagens__botao-texto {
    color: var(--cor-texto-claro);
    font-size: 30px;
    padding: 20px 0;
}

.vantagens__botao {
    margin-bottom: 20px;
}
