:root {
    --cor-de-fundo: #E3E3E3;
    --cor-de-fundo-escuro:#C6C6C6;
    --cor-texto-escuro: #47525E;
    --cor-texto-claro: #343F4B;
    --cor-texto-icones: #575756;
    --cor-borda: #969FAA;
    --cor-submenu: rgba(180, 180, 180, 0.8);
}